*{vertical-align:top;}

body{
	margin:0;
	padding:0;
	font-size:20;
	font-family: source code pro;

}

.wrapper { 
	background: #eee;
	width: 960px;
	margin: 0 auto 0 auto;
}


.c {
	font-size: 60px;
	display: inline-block;
	background: #eee;
	margin: 0 15px 15px 15px;
}

.no-left-gutter {margin-left:0;}
.no-right-gutter {margin-right:0;}
.whitespace-fix{font-size:0;}
p{
	color:#f0c220; font-size: 200px;
}


.c2 {height: 1px; background: #fff;}
.c3 {height: 1px;}
.c4 {height: 1px;}
.c5 {height: 1px;color:#f0c220}
.c6 {height: 1px;}
.c7 {height: 1px; color:#f0c220;}
.c8 {height: 1px;}
.c9 {height: 1px;color:#f0c220;}

