* {box-sizing: border-box;}


body {
	background: #ccc;
	font-size: 10px;
	font-family: source code pro;
}

.wrapper {
	margin: 0 auto;
}


.c{
	display: inline-block;
	padding: 0 20px 0 20px;
	margin: 0 0 50px 0;
	background: #ccc;
	font-size: 20px;
}

.c1{width: 25%;}
.c2{width: 50%;}
.c3{width: 75%;}
.c4{width: 100%;}



.button-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button {
	width: 300px;
	height: 300px;
	border-radius: 100%;
	background: url(assets/img/dacey1.jpg) no-repeat;
	font-size: 20px;
	transition: all 500ms ease;

}

.img {
	width: 20px;
}

.button-text{
	position: absolute;
	top: 50%
	left: 50%
	transform: translate(-50%,-50%);
	font-family: arial, sans-serif;
	background: #ccc;
	width:200px;
}

.button:hover {
	background-position: -175px 0;
	transform: rotate(360deg);
}

.button-1, .button-2 {
	background: #000;
}



.button:active .button-text{
	transform: rotate(180deg);
}




