/**{box-sizing:border-box;}*/

body{
	margin:0;
	padding:0;
	font-size:300px;
	/*font-family: source code pro;*/
	color: yellow;
	background-color: yellow;

}

a{
	width:300px;
	height:200px;

}

.wrapper { 
	background: yellow;
	width: 960px;
	margin: 0 auto 0 auto;
}


.c {
	font-size: 150px;
	display: inline-block;
	background: yellow;
	margin: 0px;
}

.no-left-gutter {margin-left:0;}
.no-right-gutter {margin-right:0;}
.whitespace-fix{font-size:0;}
p{
	color: yellow; font-size: 20px;
}

.square {
	/*height: 400px;
	width: 600px;*/
	/*background-color: #f0c220;*/
	background-color: gold;
	margin-left: 100px;
/*	margin:15px;*/
/*	margin-bottom: 45px;*/
	/*margin-top: 80px;*/
	/*transform: translate(60%, -20%);*/

	position: static; top:10px; right:600px; width:500px; height:400px
	/*position:fixed;
	bottom: 5px;
	right: 5px;

*/
}


.yellow-texture { 
margin: 100px 100px -150px 300px;
width: 700px; 
bottom: 50%;
}

.yellow-texture2 { 
top: 50%;
left: 50%;
max-width: 480px;
width: 100%;
height: auto;
transform: translate(-50%, -50%);
display: block; 
margin-left: 700px; }

.square1 {
	background-color: #ffe500;
	transform: translate(-50%, -50%);
}


