/**{box-sizing:border-box;}*/

body{
	margin:0;
	padding:0;
	font-size:300px;
	font-family: source code pro;
	color: white;
	background-color: black;

}

/*
.wrapper { 
	background: #aaa;
	width: 960px;
	margin: 0 auto 0 auto;
}*/


.c {
	font-size: 150px;
	display: inline-block;
	background: black;
	margin: 0px;
}

.no-left-gutter {margin-left:0;}
.no-right-gutter {margin-right:0;}
.whitespace-fix{font-size:0;}
p{
	color:#f0c220; font-size: 20px;
}

.square {
	height: 200px;
	width:400px;
	/*background-color: #f0c220;*/
	background-color: #2345fc;
	margin:215px;
	/*position:fixed;
	bottom: 5px;
	right: 5px;
*/
}
.square1 {
	height: 200px;
	width:1000px;
	/*background-color: #f0c220;*/
	background-color: white;
	margin-bottom:215px;
	position:fixed;
	bottom: 5px;
	right: 0px;
}

img {
	width: 400px;
}




