*{box-sizing: border-box;
  vertical-align: top;}

body{
	margin:0;
	padding: 0;
	font-size: 0; 
	background-color: black;
}

html, body{height: 100%;}

.wrapper{
	width: 100%;
	height: 100%;
}

.column{
	width:50%;
	display: inline-block;
	height: 100%;
	padding: 10px;
}



ul, li {
	list-style: none;
	margin:0;
	padding:0;
}

.nav-item{
	border: 70px solid #000;
	padding: 10px 20px;
	display: inline-block;
	font-size: 50px;
	font-family: serif;
	margin: 0 15px 15px 0;
	cursor: pointer;
}

.nav-item:hover, .nav-item.active{
	background:#000;
	color: #000;

}


.blacktexture {
top: 50%;
left: 50%;
max-width: 480px;
width: 100%;
height: auto;
transform: translate(-100%, 10%);
display: block; 
margin-left: 700px; 
}

.blacktexture1 {
top: 50%;
left: 50%;
max-width: 480px;
width: 100%;
height: auto;
transform: translate(-150%, -10%);
display: block; 
margin-left: 700px; 
}

.blacktexture2 {
top: 50%;
left: 50%;
max-width: 550px;
width: 100%;
height: auto;
transform: translate(-100%, -40%);
display: block; 
margin-left: 700px; 
}

.blacktexture3 {
top: 50%;
left: 50%;
max-width: 400px;
width: 100%;
height: auto;
transform: translate(-160%, -50%);
display: block; 
margin-left: 700px; 
}


.blacktexture4 {
top: 50%;
left: 50%;
max-width: 450px;
width: 100%;
height: auto;
transform: translate(-70%, -390%);
display: block; 
margin-left: 700px; 
}

.next-track {
	top: 50px;
	left:50px;
	position: fixed;


.close-button{
	position: absolute;
	top:-5px;
	right:30px;
	font-size: 100px;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;
}


.hide{display: none;}
