*{box-sizing: border-box;
  vertical-align: top;}

body{
	margin:0;
	padding: 0;
	font-size: 0; 
	background-color: #091347;
}

html, body{height: 100%;}

.darkbluetexture {
top: 50%;
left: 50%;
max-width: 400px;
width: 100%;
height: auto;
transform: translate(-65%, 10%);
display: block; 
margin-left: 700px; 
}

.bluefeathers {
top: 50%;
left: 50%;
max-width: 400px;
width: 100%;
height: auto;
transform: translate(-150%, -10%);
display: block; 
margin-left: 700px; 
}

.bluesilk {
top: 50%;
left: 50%;
max-width: 400px;
width: 100%;
height: auto;
transform: translate(-60%, -140%);
display: block; 
margin-left: 700px; 
}

.blueberries {
	top: 600px;
	left: 50px;
	max-height: 300px;
	position: absolute;
}

.darkshadow {
	top: 700px;
	left: 500px;
	max-height: 300px;
	position: absolute;
}

.lightblue{
	top: 30px;
	left: 50px;
	max-height: 300px;
	position: absolute;
}

.next-track {
	top: 50px;
	left:50px;
	position: fixed;
	
.content{
	background: #f1f1f1;
	font-size: 30px;
}

ul, li {
	list-style: none;
	margin:0;
	padding:0;
}




.hide{display: none;}
