body {
	font-family: avenir;
	font-size: 20px;
	line-height: 28px;
	margin: 0;
	padding: 0;
	letter-spacing: 5px;
}

 .about{ 
 	background: #000000;
 	color: #ffffff;
 }


h1,h2 {
	font-size: 20px;
	margin: 0;
	font-weight: normal;
}

a{ color: #000000; }


.about a {
	color: #fff;
}

div{
	margin-bottom:40px;
}

.img {
	margin-bottom: 40px;
}

}

ul {
	margin:0;
}

p{
	width:710px;
	font-size: 300px;
}