*{box-sizing: border-box;
  vertical-align: top;}

body{
	margin:0;
	padding: 0;
	font-size: 0; 
	background-color: #300349;
}

html, body{height: 100%;}

.purplevelvet {
top: 50%;
left: 50%;
max-width: 400px;
width: 100%;
height: auto;
transform: translate(-65%, -40%);
display: block; 
margin-left: 700px; 
}

.purpletexture {
top: 50%;
left: 50%;
max-width: 400px;
width: 100%;
height: auto;
transform: translate(-150%, -10%);
display: block; 
margin-left: 700px; 
}

.purplefeather {
top: 50%;
left: 50%;
max-width: 400px;
width: 100%;
height: auto;
transform: translate(-140%, -120%);
display: block; 
margin-left: 700px; 
}

.purplerose {
top: 50%;
left: 50%;
max-width: 400px;
width: 100%;
height: auto;
transform: translate(-30%, -220%);
display: block; 
margin-left: 700px; 
}

.purplestone {
	top: 50px;
	left: 50px;
	max-height: 350px;
	position: absolute;
}

.purpleleaves {
	top: 700px;
	left: 80px;
	max-width: 500px;
	position: absolute;
}

.fruits {
	top: 800px;
	left: 500px;
	max-height: 400px;
	position: absolute;
}

.next-track {
	top: 50px;
	left:700px;
	position: fixed;






.hide{display: none;}
