*{box-sizing:border-box;}

body{
	margin:0;
	padding:0;
	font-size:300;
	font-family: source code pro;
	color: yellow;
	background-color: maroon;

}

a{
	width:300px;
	height:200px;
}

.wrapper { 
	background: red;
	width: 960px;
	margin: 0 auto 0 auto;
}


.c {
	font-size: 150px;
	display: inline-block;
	background: red;
	margin: 0px;
}

.no-left-gutter {margin-left:0;}
.no-right-gutter {margin-right:0;}
.whitespace-fix{font-size:0;}
p{
	color: orange; font-size: 20px;
}

.square {
	height: 200px;
	width: 700px;
	/*background-color: #f0c220;*/
	background-color: red;
	margin:150px;
	margin-bottom: 5px;
	margin-top: 40px;
	/*position:fixed;*/
/*	bottom: 5px;
	right: 5px;
*/
}



