* {box-sizing: border-box;}


body {
	background: #fff;
	font-size: 50;
	font-family: source code pro;
	color: black;
}




/*
.button: {color: #000;}
.button: visited {color: #000;}
.button: hover { color: #000; }
.button: active {color: #000;}*/

/*has to be written in this order or else it won't work!!!*/







